<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capitalism Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    <div id="ui-container">
        <div id="info">Capitalism Wealth Exchange<br>Accumulate capital to innovate and increase income!</div>
        <div id="step-info">Initializing...</div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/capitalism_simulation.js') }}"></script>
</body>
</html>