<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Econophysics Simulation</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    <div id="ui-container">
        <div id="info">Econophysics Wealth Exchange<br>5 Agents | Starting Wealth: 10.00</div>
        <div id="step-info">Initializing...</div>
    </div>

    <script type="module" src="/js/simulation.js"></script>
</body>
</html>